Edit a Crossfit Workout

<form class="" action="/crossfit_workouts/<%= @crossfit_workout.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="workout_name">Workout Name:</label>
  <input type="text" name="workout_name" value ="<%= @crossfit_workout.workout_name %>">
  <label for="content">Content:</label>
  <textarea name="content" style="width:auto; height:auto;"><%= @crossfit_workout.content %></textarea>
  <label for="time_completed">Time Completed:</label>
  <input type="text" name="time_completed" value ="<%= @crossfit_workout.time_completed %>">
  <label for="rounds_completed">Rounds Completed:</label>
  <input type="text" name="rounds_completed" value ="<%= @crossfit_workout.rounds_completed %>">

  <input type="submit" name="" value="Edit Workout">
</form>
