<h3><%= @crossfit_workout.workout_name %></h3>
<p><%= @crossfit_workout.content %></p>
<p>Time Completed: <%= @crossfit_workout.time_completed %></p>
<p>Rounds Completed: <%= @crossfit_workout.rounds_completed %></p>

<p>Created by: <%= @crossfit_workout.user.name if @crossfit_workout.user %></p>

<p>created on <%= @crossfit_workout.formatted_created_at %></p>


<% if authorized_to_edit?(@crossfit_workout) %>
  <a href="/crossfit_workouts/<%= @crossfit_workout.id %>/edit">Edit Entry</a>
  <br><br>
  <form class="" action="/crossfit_workouts/<%= @crossfit_workout.id %>" method="post">

    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this workout">
  </form>
<% end %>
